<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">
    <%= render 'layouts/top_bar' %>
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
  <!-- End of Main Content -->

  <%= render 'layouts/footer' %>

</div>